/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

:root {
    --result-background-light: #f0f0f0; /* Light theme background */
    --result-background-dark: #3a3a3a; /* Dark theme background */
}

.theme-light {
    --result-background: var(--result-background-light);
}

.theme-dark {
    --result-background: var(--result-background-dark);
}

mark {
    background-color: beige;
    padding: 1px;
}

.view-text {
    max-width: 700px;
    width: 100%;
    margin:auto;
    
}

.info-box {
    background-color: var(--background-primary); /* Use Obsidian's primary background color */
    border: 2px solid var(--background-secondary); /* Subtle border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    /* margin: 10px 0; /* Margin to separate from other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    overflow-wrap: break-word;
}

.break {
    color: grey;
    position: relative;
    text-align: center;
}

.infoDecision {
    font-weight: bold;
}

.resultat-document-container {
    padding: 10px;
}

.resultat-document-container:hover {
    background-color: var(--result-background);
}

.titre-document {
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.titre-document:hover {
    text-decoration: underline;
}

.lienArticle {
    color: black;
}

.lienArticle:hover {
    text-decoration: underline;
    color: black;
}

.extraitContainer {
    margin-top: 20px;
    padding-left: 30px;
}

.search-criterium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.research-type {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.research-view-legifrance {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    select {
        max-width: 15rem;
    }
}
