/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

mark {
    background-color: beige;
    padding: 1px;
}

.showLine {
    border: 1px;
    border-color: black;
}

.break {
    color: grey;
    position: relative;
    text-align: center;
}

.infoDecision {
    font-weight: bold;
}